<div class="flex flex-col justify-center items-center h-screen bg-cover bg-center" style="background-image: url('../assets/ARR.jpg')">
    <div class="text-center">
        <h3 class="text-3xl text-white">Welcome to the RPG Final Fanatsy XIV webSite</h3>
      </div>
      <div class="mt-4">
        <a routerLink="/check-characters" routerLinkActive="active"><button class="px-4 py-2 bg-purple-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300" (click)="goToCheckCharacters()">Wanna see</button></a>
    </div>
</div>
